<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
	<!--     
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	 -->
	<script src="/js/jquery-3.2.1.min.js"></script>
	<style type="text/css">
	</style>
		
	<script type="text/javascript">
		
		
	</script>
</head>
<body>

<div>
	<h3>Welcome To latitude.</h3>
	<div>
	<form action="admin/review/latitudeList" method="get">
		diaplayName=<input name="displayName"  value="自信" />
		<input type="submit" value="Submit" />
	</form>
	</div>
</div>

</body>

</html>
